extends ../layout

block content
	.container
		.row
			.well.span4
				form(action='/login', method='post')
					h2 Sign In
					include ./errors
					span
						a(href='/signup') or signup
					.clearfix
						label(for='user[username]') Username
						.input
							input(name='user[username]', size='30', type='text')
					.clearfix
						label(for='user[pwd]') Password
						.input
							input(name='user[pwd]', size='30', type='text')
					label.checkbox
						input#remember_in(type='checkbox', name='remember_in', value='yes', checked='true')
						span(for='remember_in') Remember me
					input#submit_in.btn.btn-primary(type='submit', value='Sign In »', name='submit_in')
					span.switch(data-switch='forgot-password-form')&nbsp;Forgot my password

				form#forgot-password-form.hide
					h2 Forgot Password
					.clearfix
						label(for='email_pwd') Email
						.input
							input#email_pwd(name='email_pwd', size='30', type='text')
						span.switch(data-switch='sign-in-form')&nbsp;Never mind, I remembered my password
					input#submit_pwd.btn.btn-primary(type='submit', value='Remind me »', name='submit_pwd')
