extends ../layout

block content
	.container
		.row
			.well.span4
				form#sign-up-form(action='/signup', method='post')
					h2 Sign Up for Free
					include ./errors
					.clearfix
						label(for=user[email]') Email
						.input
							input#email_up.xlarge(name='user[email]', size='30', type='text', placeholder='email@somewhere.com')

					.clearfix
						label(for='user[username]') Username
							.input
								input#username_up.xlarge(name='user[username]', size='30', type='text', placeholder='username')
					.clearfix
						label(for='user[pwd]') Password
							.input
								input#pwd_up.xlarge(name='user[pwd]', size='30', type='text', placeholder='password')
					label.checkbox
						input(type='checkbox', name='terms', value='yes', checked='true')
						span(for='terms') Agree to
							a(href='#') Terms of Use
					input.btn.btn-primary(type='submit', value='Sign Up »')
