extends layout

block content
	.container
		.row
			#addList.span12
		.row
			#mainContent.span12
					#navigation
					#main

block end-of-body
	script(data-main='js/main', src='js/libs/require/require-jquery.js')
